<div class="title">
  Cat Tax Service
</div>
<div class="details">
  <p>
    Are you a cat lover?
    <br>
    Can't get a cat of your own?
    <br>
    Do you know someone who does own a cat?
  </p>
  <p>
    Look no further! Until you have the amazing opportunity to get your very own furry asshole, you are eligible to tax all your friends who do own a cat!
  </p>
  <p>
    What does this mean?
  </p>
  <p>
    You can demand a picture compensation from your friends for not having a cat yourself!
  </p>
</div>
<div class="cat"></div>

<div class="footer">

</div>
