/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

html {
  min-width: 450px;
}

body {
  display: flex; flex-direction: column;
}
